    
    body {
    /* font-family: "Lato", sans-serif; */
    font-family: 'Montserrat', sans-serif;

  }

  .container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
}

#carouselExampleSlidesOnly {
    margin-left: 400px;
}

#contactMeButton {
  color: white;
  background-color: orange;
  border-radius: 20px;
  -webkit-transition-duration: 0.7s; /* Safari */
  transition-duration: 0.7s;
}

#contactMeButton:hover{
  color: white;
  background-color: black;
}

#contactMeLink {
  color: white;
}

#contactMeLink:hover {
  color: white;
  text-decoration: none;
}

.progress-bar {
  background-color: orange;
}

.navbar {
    background-color: black;
}

#navbar-header {
  margin-left: 100px;
}

#nav-menu {
  margin-right: 100px;
}
  
.navbar-brand {
    color: white;
}

#nav-menu {
    color: white;
    font-size: 20px;
}
  
.myName {
    color: white;
    background-color: black;
}


  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(255, 161, 9);
    overflow-x: hidden;
    transition: 0.8s;
    padding-top: 60px;
    opacity: .7;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: white;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .mainContainerDiv {
    margin-left: 100px;
    margin-right: 100px;
  } 

  .aboutMeDiv {
    /* background-color: rgb(246, 246, 246); */
  }

  .myPortfolio {
    background-color: rgb(246, 246, 246);
  }

  .inAboutMe {
    margin-left: 100px;
    margin-right: 100px;
  }

  .inMyPortfolio {
    margin-left: 100px;
    margin-right: 100px;
  }


  .fab {
    font-size: 30px;
    color: grey;
  }

  #mongodbIconId {
    width: 45px;
    height: 45px;
  }

  #mysqlIconId {
    width: 40px;
    height: 40px;
  }

  #contactMe {
    background-color: rgb(255, 182, 45);
    color: white;
  }


  .form input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    background-color: rgb(255, 182, 45);
    
  }

  input {
  color: white !important;
  }


  .form {
    margin-left: 100px;
    margin-right: 100px;
  }

  ::placeholder {
    color: rgba(255, 255, 255, 0.671) !important;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white !important;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: white !important;
  }

  form:focus, textarea:focus, select:focus{
    outline: none !important;
}

.form-control:focus {
    background-color: rgb(255, 182, 45) !important;  
    outline: none !important;
    box-shadow: none !important;
    background: transparent;
    border-bottom: 1px solid white;

  }


  #textArea {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    background-color: rgb(255, 182, 45);
    color: white;
    
  }

  #sendMessageButton {
    color: white;
    background-color: black;
    border-radius: 20px;
    -webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
  }
  
  #sendMessageButton:hover{
    color: white;
    background-color: rgb(255, 182, 45);
  }

  

  #endFooter {
    color: orange;
  }

  #emailId {
    color: black;
    outline: none !important;
    transition-duration: 0.6s;
  }

  #emailId:hover {
    color: orange;
    text-decoration: none;
    
  }

  #emailId2 {
    color: black;
    outline: none !important;
    transition-duration: 0.6s;
  }

  #emailId2:hover {
    color: orange;
    text-decoration: none;
    
  }

  #linkedinId {
    color: black;
    outline: none !important;
    transition-duration: 0.6s;
  }

  #linkedinId:hover {
    color: orange;
    text-decoration: none;
  }

  #linkedinId2 {
    color: black;
    outline: none !important;
    transition-duration: 0.6s;
  }

  #linkedinId2:hover {
    color: orange;
    text-decoration: none;
  }

  #githubLink {
    color: orange;
    outline: none !important;
    transition-duration: 0.9s;
  }

  #githubLink:hover {
    color: black;
    text-decoration: none;
  }

  #navHomeButton {
    color: white;
    outline: none !important;
    transition-duration: 0.6s;
    font-size: 20px;
  }

  #navHomeButton:hover {
    color: orange;
    background-color: black;
  }

  #navLogoButton {
    color: white;
    outline: none !important;
    transition-duration: 0.6s;
    font-size: 30px;
  }

  #navLogoButton:hover {
    color: orange;
    background-color: black;
  }

  #nav-menu {
    color: white;
    outline: none !important;
    transition-duration: 0.6s;
    font-size: 25px;
  }

  #nav-menu:hover {
    color: orange;
    text-decoration: none;
    background-color: black;
  }

  /* My Portfolio */
  .project {
    width: 100%;
    height: 500px;
    background-image: url("images/amazonCalculatorMainPage.png");
    background-size: cover;
    background-position: center;
    padding: 0 !important;
    float:left;
    margin-bottom: 30px;
  }

  .project-102 {
    background-image: url("images/movieSearchMainPage.PNG");
  }
  
  .project-103 {
    background-image: url("images/table-reservation.JPG");
  }
  
  .project-104 {
    background-image: url("images/book-search.JPG");
  }

  .project-201 {
    background-image: url("images/delivery-order-MainAndcreateOrder-page.PNG");
  }
  
  .project-202 {
    background-image: url("images/waitingListMainPage.png");
  }
  
  .project-203 {
    background-image: url("images/mongoNoteAppMainPage.PNG");
  }

  .project-204 {
    background-image: url("images/colorPickerMainPage.png");
  }

  .project-301 {
    background-image: url("images/user-open-ticket.png");
  }

  .project-302 {
    background-image: url("images/movieSearchReactAppImage.PNG");
  }

  .project-303 {
    background-image: url("images/lotteryNumberGeneratorMain.PNG");
  }
  .project-304 {
    background-image: url("images/wpMain.PNG");
  }
  
  .project-hover {
    width: 100%;
    height: 100%;
    color: orange;
    font-weight: bolder;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: rgba(90, 90, 89, 0.7);
    padding: 40% 30px !important;
  }
  
  .project-hover hr {
    height: 30px;
    width: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: rgba(255, 255, 255, 1);
    border: 0;
  }
  
  .project-hover a {
    color: orange;
    padding: 2px 22px;
    line-height: 40px;
    border: 2px solid rgba(255, 255, 255, 1);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  .project-hover a:hover {
    border-color: white;
    color: white;
    background-color: orange;
    text-decoration: none;
  }
  
  .project:hover .project-hover {
    opacity: 1;
  }
  
  .project:hover .project-hover hr {
    width: 100%;
    height: 5px;
  }


  @media screen and (max-width: 850px) {
    
    #carouselExampleSlidesOnly {
        margin-left: 200px;
    }

    .sidenav a {
        font-size: 15px;     

      }

      #navbar-header {
        margin-left: 10px;
      }
      
      #nav-menu {
        margin-right: 20px;
      }
      .mainContainerDiv {
        margin-left: 100px;
        margin-right: 100px;
      } 
  }
  
  @media screen and (max-width: 500px) {
    
    #carouselExampleSlidesOnly {
        margin-left: 20px;
    }

    .sidenav a {
        font-size: 15px;     

      }

      #navbar-header {
        margin-left: 10px;
      }
      
      #nav-menu {
        margin-right: 20px;
      }

      .mainContainerDiv {
        margin-left: 20px;
        margin-right: 20px;
      } 

      #footerTitle {
        text-align: center;
      }

      .inAboutMe {
        margin-left: 20px;
        margin-right: 20px;
      }
    
      .inMyPortfolio {
        margin-left: 20px;
        margin-right: 20px;
      }

      .form {
        margin-left: 50px;
        margin-right: 50px;
      }

      #navHomeButton {
        display: none;
      }

  }